@import url("https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700");

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Vollkorn;
  box-sizing: border-box;
  font-size: 2.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}
